[submodule "wordlists/wordlists"]
	path = wordlists/wordlists
	url = https://github.com/kkrypt0nn/wordlists
[submodule "wordlists/rockyou"]
	path = rockyou
	url = https://github.com/qrxnz/rockyou.git
[submodule "docker-android"]
	path = docker-android
	url = https://github.com/qrxnz/docker-android
[submodule "ghidra-osx"]
	path = ghidra-osx
	url = https://github.com/qrxnz/ghidra-osx.git
[submodule "busybox-binaries"]
	path = busybox-binaries
	url = https://github.com/qrxnz/busybox-binaries.git

[submodule "others/nightmare-eclipse"]
	path = others/nightmare-eclipse
	url = https://github.com/qrxnz/nightmare-eclipse
