[submodule "tools/bletools"]
	path = tools/bletools
	url = https://github.com/qrxnz/bletools.git
[submodule "wordlists"]
	path = wordlists
	url = https://github.com/kkrypt0nn/wordlists
[submodule "tools/qrack"]
	path = tools/qrack
	url = https://github.com/qrxnz/qrack.git
