[submodule "lists/wordlists"]
	path = lists/wordlists
	url = https://github.com/kkrypt0nn/wordlists
[submodule "lists/manuf"]
	path = lists/manuf
	url = https://github.com/kkrypt0nn/manuf.git
[submodule "lists/rockyou"]
	path = rockyou
	url = https://github.com/qrxnz/rockyou.git
[submodule "docker-android"]
	path = docker-android
	url = https://github.com/qrxnz/docker-android
[submodule "GhidraMacOS"]
	path = GhidraMacOS
	url = https://github.com/qrxnz/GhidraMacOS.git
